<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="booking-cta">
                        <h1>Book your flight today</h1>
                        <p></p>
                    </div>
                </div>

                <div class="col-md-7 col-md-offset-1">
                    <div class="booking-form" *ngIf="showCard">
                        <form [formGroup]="bookAFlightForm" (ngSubmit)="onSubmit()">
                            <div class="form-group">


                                <div class="row">
                                    <div class="col-md-6" style="margin-left: 130px">
                                        <div class="form-group">
                                            <span class="form-label">Round trip/ one way</span>
                                            <select class="form-control" id="roundOneWay" formControlName="roundOneWay">
                                                <option>Round trip</option>
                                                <option>One way</option>

                                            </select>
                                            <span class="select-arrow"></span>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <span class="form-label">Flight from</span>
                                            <input class="form-control" id="flightDestinationFrom"
                                                formControlName="flightDestinationFrom" type="text"
                                                placeholder="Enter city">
                                        </div>
                                    </div>



                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <span class="form-label">Flight to</span>
                                            <input class="form-control" id="flightDestinationTo"
                                                formControlName="flightDestinationTo" type="text"
                                                placeholder="Enter city">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <span class="form-label">Departing</span>
                                            <input class="form-control" id="flightTimestampFrom"
                                                formControlName="flightTimestampFrom" type="date"
                                                placeholder="departing">
                                        </div>
                                    </div>



                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <span class="form-label">Returning</span>
                                            <input class="form-control" id="flightTimestampTo"
                                                formControlName="flightTimestampTo" type="date" placeholder="returning">
                                        </div>
                                    </div>
                                </div>



                            </div>




                            <!-- <div class="form-group">
                                <div class="form-checkbox">
                                    <label for="roundtrip">
                                        <input type="radio" formContolName="roundTrip" id="roundtrip" name="flight-type">
                                        <span></span>Round trip
                                    </label>
                                    <label for="one-way">
                                        <input type="radio"  formContolName="oneWay" id="one-way" name="flight-type">
                                        <span></span>One way
                                    </label>
                                </div>
                          
                        
                            </div>> 
                          
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">Flying from</span>
                                        <input class="form-control" id="flightDestinationFrom"
                                            formContolName="flightDestinationFrom" type="text"
                                            placeholder="City or airport">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">Flying to</span>
                                        <input class="form-control" id="flightDestinationTo"
                                            formContolName="flightDestinationTo" type="text"
                                            placeholder="City or airport">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">Departing</span>
                                        <input class="form-control" id="flightTimestampFrom"
                                            formContolName="flightTimestampFrom" type="date" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">Returning</span>
                                        <input class="form-control" id="flightTimestampTo"
                                            formContolName="flightTimestampTo" type="date" required>
                                    </div>
                                </div>
                            </div>


                            <div class="row" style="justify-content: center">
                            </div>
                            <div class="form-btn">
                                <button  type="submit" class="submit-btn" >Show flights</button>
                            </div>
                            <hr>
                       -->

                            <div class="form-btn">
                                <button type="submit" class="submit-btn">Show flights</button>
                            </div>
                        </form>

                    </div>
                    <div class="container mt-5 " style="justify-content: right: 100px;" *ngIf="!showCard">

                        <img src="/assets/airplaneSpinnerSas.gif" alt="">
                        <div class="search-for-flights" style="margin-left: 200px">
                            Searching for flights...
                        </div>
                    </div>
                </div>





            </div>
        </div>
    </div>

</div>