<div id="booking" class="section">
	<div class="section-center">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="booking-cta">
						<h1>Add new flight</h1>
						<p></p>
					</div>
				</div>
				<div class="col-md-7 col-md-offset-1">
					<div class="booking-form">
						<form [formGroup]="insertFlightForm" (ngSubmit)="onSubmit()">
							<div class="form-group">
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<span class="form-label">Flight from</span>
										<div>
											<select class="custom-select" id="flightDestinationFrom"
												style="margin-top: 35px">
												<option *ngFor="let city of citiesTo"> {{city}}</option>
											</select>

										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<span class="form-label">Flight to</span>
										<div>
											<select class="custom-select" id="flightDestinationTo"
												style="margin-top: 35px">
												<option *ngFor="let city of citiesTo"> {{city}}</option>
											</select>

										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<span class="form-label">Timestamp from</span>
										<input class="form-control" id="flightTimestampFrom"
											formControlName="flightTimestampFrom" type="datetime-local" required>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<span class="form-label">Timestamp to</span>
										<input class="form-control" id="flightTimestampTo"
											formControlName="flightTimestampTo" type="datetime-local" required>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<span class="form-label">Airplane name</span>
										<select class="form-control" id="airplaneName" formControlName="airplaneName"
											(change)="onChange($event.target.value)">
											<option *ngFor="let airplane of airplanes" [value]="airplane.name">
												{{airplane.name}}</option>
										</select>
										<span class="select-arrow"></span>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<span class="form-label">Capacity</span>
										<input class="form-control" id="airplaneCapacity"
											formControlName="airplaneCapacity" type="text" required>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-5">
									<div class="form-group">
										<span class="form-label">Flight category</span>

										<select class="form-control" id="flightCategorynameBusiness"
											formControlName="flightCategflightCategorynameBusinessoryname"
											disabled="true">
											<option>Economy class</option>
										</select>

									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<span class="form-label">Price</span>
										<input class="form-control" id="flightCategoryPrice"
											formControlName="flightCategoryPrice" type="text" required>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<span class="form-label">Capacity</span>
										<input class="form-control" id="flightCategoryCapacity"
											formControlName="flightCategoryCapacity" type="text" required>
									</div>
								</div>
							</div>
							<hr>

							<!-- DIV ZA DODAVANJE KLASA AVIONA -->

							<!-- <div style="font-size: 35px; margin-left: 250px; ">
								<i class="fas fa-plus fa-10px" style="color:#4fa3e3; margin-right: 15px"
									(click)="onAddCategory()"></i>
								<i class="fas fa-minus" style="color:#4fa3e3" (click)="onRemoveCategory()"></i>
							</div> -->


							<!-- <div class="row" *ngFor="let category of numberOfCategories">


								<div class="col-md-5">
									<div class="form-group">
										<span class="form-label">Flight category</span>
										<select class="form-control" id="catName">
											<option value="Economy class">Economy class</option>
											<option value="Business class">Business class</option>
											<option value="First class">First class</option>
										</select>
										<span class="select-arrow"></span>
									</div>
								</div>


								<div class="col-md-4">
									<div class="form-group">
										<span class="form-label">Price</span>
										<input class="form-control" type="text" required>
									</div>
								</div>


								<div class="col-md-3">
									<div class="form-group">
										<span class="form-label">Capacity</span>
										<input class="form-control" type="text" required>
									</div>
								</div>


							</div> -->



							<button class=" btnn-style" style="margin-bottom: 10px" (click)="addBusinessClass()">Add
								business class</button>
						
								<div class="row" *ngIf="addBusinessClassForm">
									<div class="col-md-5">
										<div class="form-group">
											<span class="form-label">Flight category</span>

											<select class="form-control" id="flightCategorynameBusiness"
												formControlName="flightCategflightCategorynameBusinessoryname"
												disabled="true">
												<option>Business class</option>
											</select>

										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<span class="form-label">Price</span>
											<input class="form-control" id="flightCategoryPriceBusiness"
												formControlName="flightCategoryPriceBusiness" type="text" required>
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<span class="form-label">Capacity</span>
											<input class="form-control" id="flightCategoryCapacityBusiness"
												formControlName="flightCategoryCapacityBusiness" type="text" required>
										</div>
									</div>
								</div>


									<hr>
							<button class=" btnn-style" style="margin-bottom: 10px;" (click)="addFirstClass()">Add first class</button>
							
								<div class="row" *ngIf="addFirstClassForm">
									<div class="col-md-5">
										<div class="form-group">
											<span class="form-label">Flight category</span>

											<select class="form-control" id="flightCategorynameBusiness"
												formControlName="flightCategflightCategorynameBusinessoryname"
												disabled="true">
												<option>First class</option>
											</select>

										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<span class="form-label">Price</span>
											<input class="form-control" id="flightCategoryPriceBusiness"
												formControlName="flightCategoryPriceBusiness" type="text" required>
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<span class="form-label">Capacity</span>
											<input class="form-control" id="flightCategoryCapacityBusiness"
												formControlName="flightCategoryCapacityBusiness" type="text" required>
										</div>
									</div>
								</div>
							

							<div class="form-btn mt-2">
								<button type="submit" class="submit-btn">Add flight</button>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>