<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body" *ngIf="logInCard">
          <div>
            <img src="/assets/airplaneSpinnerSas.gif" width="140px"
              style="display: flex; justify-content: center;margin: auto;" alt="">
          </div>
          <h5 class="card-title text-center">Log In</h5>
          <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-label-group">
              <input type="email" id="inputEmail" class="form-control" placeholder="Username" required
                formControlName="username">
            </div>
            <div class="form-label-group">
              <input type="password" id="inputPassword" class="form-control" placeholder="Password" required
                formControlName="password">
            </div>
            <button class="btn btn-lg btn-primary btn-block text-uppercase " style="color: black" type="submit"
              [disabled]="!loginForm.valid">Log in</button>
          </form>
          <hr>
          
            <p style="margin-left: 80px"> Don't have an account? <a href="../registration"><span class="label label-danger" style="color: white">Sign up</span></a></p>
       
          <hr  class="my-4">

        </div>

      </div>
      <div class="alert  text-center" *ngIf="loginSuccessful && !logInCard">
        <div class="airplane-loader">

          <img src="/assets/airplaneSpinnerSas.gif" alt="">

        </div>
      </div>

    </div>
  </div>
</div>